.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeline-container::after { /* linea roja */
    background-color: #28a745;
    content: '';
    position: absolute;
    left: 1.6rem;
    width: 4px;
    height: 100%;
}

.timeline-item {
    display: flex;
}

.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.timeline-item-content::after { /* Flecha a la izquierda*/
    content: ' ';
    background-color: #fff;
    position: absolute;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    font-size: 12px;
}


.timeline-item-content p {
    font-size: 14px;
}

.timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid #28a745;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    z-index: 100;
    left: -36px
}
